---
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Projects from '../components/Projects.astro';
import WorkExperience from '../components/WorkExperience.astro';
import Resume from '../components/Resume.astro';
import Contact from '../components/Contact.astro';
import Certifications from '../components/Certifications.astro';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chaitanya Chunduri</title>
    <link rel="stylesheet" href="/src/styles/global.css" />
  </head>

  <body class="font-sans bg-white text-gray-900 dark:bg-gray-900 dark:text-white">
    <Navbar />

    <main class="max-w-5xl mx-auto pt-24 space-y-16 px-4">
      <Hero />
      <Projects />
      <WorkExperience />
      <Resume />
      <Certifications />
      <Contact />
    </main>
  </body>
</html>
